# ignore everything in plugin folders, but keep track of plugin submodules 
#/plugins/*/**
#!/plugins/*
/plugins/mffmatlabio
.DS_Store

plugins/iirfilt1.03/
ugo_modified_files/popfunc/binica1270.fdt
ugo_modified_files/popfunc/binica1270.sc
ugo_modified_files/popfunc/binica1270.sph
ugo_modified_files/popfunc/binica1270.wts
binica8147.wts
functions/binica3424.fdt
functions/binica3424.sc
plugins/Pipeliner/1101E6DotLoc-1___HM_Av_.3HP55LP.fdt
plugins/Pipeliner/1101E6DotLoc-1___HM_Av_.3HP55LP.set
plugins/Pipeliner/1101E6DotLoc-2___HM_Av_.3HP55LP.fdt
plugins/Pipeliner/1101E6DotLoc-2___HM_Av_.3HP55LP.set
plugins/Pipeliner/fi255.xls
plugins/Pipeliner/filter/1101E6DotLoc-1___HM_Av_.3HP55LP_fi.fdt
plugins/Pipeliner/filter/1101E6DotLoc-1___HM_Av_.3HP55LP_fi.set
plugins/Pipeliner/filter/1101E6DotLoc-1___HM_Av_.3HP55LP_fi255.fdt
plugins/Pipeliner/filter/1101E6DotLoc-1___HM_Av_.3HP55LP_fi255.set
plugins/Pipeliner/filter/1101E6DotLoc-2___HM_Av_.3HP55LP_fi.fdt
plugins/Pipeliner/filter/1101E6DotLoc-2___HM_Av_.3HP55LP_fi.set
binica8147.wts
plugins/Pipeliner/ica/1101E6DotLoc-2___HM_Av_.3HP55LP_ic40.set
plugins/Pipeliner/ica/1101E6DotLoc-2___HM_Av_.3HP55LP_ic40.fdt
plugins/Pipeliner/ica/1101E6DotLoc-1___HM_Av_.3HP55LP_ic40.set
plugins/Pipeliner/ica/1101E6DotLoc-1___HM_Av_.3HP55LP_ic40.fdt
*.wts
*.wts
plugins/Pipeliner/binica8089890.sph
plugins/Pipeliner/binica8089890.sc
plugins/Pipeliner/binica8089890.fdt
plugins/Pipeliner/binica7398418.sph
plugins/Pipeliner/binica7398418.sc
plugins/Pipeliner/binica7398418.fdt
plugins/Pipeliner/binica6710719.sph
plugins/Pipeliner/binica6710719.sc
plugins/Pipeliner/binica6710719.fdt
plugins/Pipeliner/binica3479970.sph
plugins/Pipeliner/binica3479970.sc
plugins/Pipeliner/binica3479970.fdt
plugins/Pipeliner/binica3384723.sph
plugins/Pipeliner/binica3384723.sc
plugins/Pipeliner/binica3384723.fdt
